@import '../../Utilities.sass'

#landing-main
    @include flex-row
    height: 50vh
    flex-direction: column
    align-items: center
    justify-content: space-around
    margin-top: 10vh

.section-1-landing
    display: flex
    flex-direction: column
    color: white
    
.welcome
    font-family: $font-1
    font-size: 8rem

.to-switch
    font-family: $font-1
    font-size: 8rem
    text-align: center

.switch-color
    font-family: $font-2
    color: $color-1

.section-2-landing
    height: 10vh
    width: 30vw
    @include flex-row
    justify-content: space-around
    align-items: center
    margin-bottom: 40px

.section-2-landing button
    height: 5vh
    width: 100px
    cursor: pointer
    border: none
    border-radius: 10px
    color: white
    background: $color-1
    font-size: 1.15rem

#login-button
    background: white
    color: $color-2



//media queries
@media(max-width: 750px)
    .welcome
        font-size: 6rem
    .to-switch
        font-size: 6rem
    .section-2-landing
        width: 50vw

@media(max-width: 650px)
    #landing-main
        margin-top: 15vh 

@media(max-width: 550px)
    .section-2-landing
        width: 80vw

@media(max-width: 455px)
    .welcome
        font-size: 5rem
    .to-switch
        font-size: 5rem


