@import '../../Utilities.sass'
    
.profile-main
    @include flex-row
    width: 100vw
    font-family: $font-1
    color: white

.profile-section-1
    @include flex-column
    height: 80vh
    justify-content: space-around
    margin-left: 3vw
    font-family: $font-2
    font-size: 1.5vw
    button
        border: none
        border-radius: 10px
        width: 80px
        height: 4vh
        cursor: pointer
        color: white
        font-size: 1.25rem
        background: $color-1
    
.flex-row
    @include flex-row
    width: 60vw
    justify-content: space-between
    align-items: center

.username-logo
    @include flex-row
    align-items: center
    img
        margin-right: .75vw
        max-width: 1.55vw
        filter: invert(100%)

.twitch-player
    width: 60vw
    height: 67vh