@import '../../Utilities.sass'
    
.profile-main
    @include flex-row
    width: 100vw
    font-family: $font-1
    color: white

.profile-section-1
    @include flex-column
    height: 80vh
    justify-content: space-around
    margin-left: 3vw
    font-family: $font-2
    font-size: 1.25rem
    
.flex-row
    @include flex-row
    width: 60vw
    justify-content: space-between
    align-items: center

.username-logo
    @include flex-row
    align-items: center
    img
        margin-right: .75vw
        max-width: 25px
        filter: invert(100%)

.twitch-player
    width: 60vw
    height: 67vh

//media queries
@media(max-width: 1230px)
    .profile-main
        @include flex-column
        align-items: center
    .profile-section-1
        width: 90%
        margin-left: 0px
        align-items: center
    .twitch-player
        width: 100%

@media(max-width: 650px)
    .profile-section-1
        height: 50vh
    .twitch-player
        height: 40vh

@media(max-width: 475px)
    .profile-section-1
        height: 45vh
    .twitch-player
        height: 35vh