@import '../../Utilities.sass'

.browse-live-main
    font-family: $font-2
    @include flex-column
    align-items: center
    h3
        color: white
        font-size: 2rem
        text-decoration: underline
        text-align: center
        font-family: $font-1

    
#streams-mapped
    width: 80vw
    height: 70%
    @include flex-row
    align-items: center
    flex-wrap: wrap
    justify-content: space-around
    margin: 2vh 0 2vh 0


.streams
    @include flex-column
    align-items: center
    justify-content: space-around
    width: 280px
    height: 20vh
    background: $color-1
    border-radius: 10px
    text-align: center
    margin: 20px
    h1
        font-size: 2rem
        color: $color-2
        margin-bottom: 10px
    h2
        font-size: 1.15rem
        color: white

#color-box
    width: 250px
    height: 5vh
    @include flex-row
    justify-content: center
    align-items: center