.browse-live-main
    font-family: 'Roboto', sans-serif
    display: flex
    flex-direction: column
    align-items: center
    h3
        color: white
        font-size: 2rem
        text-decoration: underline
        text-align: center
        font-family: 'Exo', sans-serif

    
#streams-mapped
    width: 80vw
    height: 70vh
    display: flex
    flex-direction: row
    align-items: center
    flex-wrap: wrap
    justify-content: space-around
    margin-top: 5vh

#color-box
    width: 15vw
    height: 5vh

.streams
    display: flex
    flex-direction: column
    align-items: center
    justify-content: center
    width: 18vw
    height: 20vh
    background: #7DE38D
    border-radius: 10px
    text-align: center
    h1
        font-size: 2rem
        color: #00242B
    h2
        font-size: 1.15rem
        color: white