@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

.header-main
    display: flex
    justify-content: space-between
    align-items: center
    height: 10vh

.section-1 img
    max-width: 4vw
    margin: 0 10px 0 25px
    


