@import '../../Utilities.sass'
    
.header-main
    @include flex-row
    justify-content: space-between
    align-items: center
    height: 10vh

.section-1 img
    max-width: 4vw
    margin-right: 10px
    margin-left: 50px

.section-2
    width: 20vw
    @include flex-row
    justify-content: space-between
    margin-right: 2vw

.section-2 button
    border: none
    border-radius: 10px
    height: 4vh
    color: white
    background: $color-1
    @extend .section-1
    cursor: pointer
    font-size: 1.05rem

.section-2 button:hover
    border: 1px solid white

#logout-button
    background: red


